@import "tailwindcss";
@tailwind utilities;


@font-face {
  font-family: 'Helvetica';
  src: url('./assets/fonts/HelveticaNeueMedium.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}

/* Thin font */
@font-face {
  font-family: 'HelveticaThin';
  src: url('./assets/fonts/HelveticaNeueThin.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Helvetica','HelaveticaThin', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
